<html>
<head> 
<title> Tic-Tac-Toe </title>    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>  
<link type="text/css" rel="stylesheet" href="style.css" />
 
</head>
<body>

<form action="get_move" method="post">
<table id='board'>

  <tr>
    <td><input class='board-data' type='submit' name="square" value='<%= board[0] %>'</td>
    <td>1</td><td>2</td>
  </tr>
  <tr>
    <td>3</td><td>4</td><td>5</td>
  </tr>
  <tr>
    <td>6</td><td>7</td><td>8</td>
  </tr>
  </div>
</table>
</form>
             
</body>  
</html>