<html>
<head> 
<title> Tic-Tac-Toe </title>    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>  
<link type="text/css" rel="stylesheet" href="style.css" />
 
</head>
<body>



<p>Choose a level to play this game:</p>
  <form method="post" action="getLevel">  
    <p>Level:
      <select type="text" name="level"> 
        <option value="Random_player">Easy</option>
        <option value="Sequential_player">Medium</option>
        <option value="Unbeatable_player">Hard</option>
      </select>
    </p>
    <input type="submit" value="Submit"> 
  </form>


<form action="/getMove" method="get">
<table id='board'>

  <tr>
    <td>0</td>
    <td>1</td><td>2</td>
  </tr>
  <tr>
    <td>3</td><td>4</td><td>5</td>
  </tr>
  <tr>
    <td>6</td><td>7</td><td>8</td>
  </tr>
  </div>
</table>
    <input type="submit" value="Submit"> 
</form>

<div>Result = <%=@result%> </div>

</body>  
</html>